
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Header styles */
.container-fluid {
    background-color: #000000;
    padding: 20px 0;
}

#logo-container img {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.container01 {
    text-align: center;
}

.text-white {
    color: rgb(255, 255, 255);
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.text-white:hover {
    color: #10ff10;
    /* Change the color on hover */
    transform: scale(1.4);
    /* Scale the text on hover */
}

.header-text {
    text-align: center;
    color: white;
    margin-top: 10px;
}

.header-text h1 {
    font-size: 4rem;
}

/* Social icons styles */
.social-icons {
    display: inline-flex;
    gap: 9%;
    justify-content: flex-start;
    margin-top: 20px;
}

.social-icons a {
    border-radius: 50%;
    border: 1px dotted grey;
    display: inline-flex;
    justify-content: start;
    align-items: start;
    width: 40px;
    height: 40px;
    background-color: #343a40;
    color: white;
    transition: background-color 0.3s ease;
    margin-top: 150px;
}

.social-icons a:hover {
    background-color: #007bff;
}

/* Contact info styles */
.contact-info {
    text-align: center;
    color: white;
    margin-top: 20px;
}

/* Main content styles */
.section3container {
    padding: 20px;
}

/* Responsive adjustments */

@media (max-width: 600px){
    .social-icons a{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 6%;
    }
}
@media (min-width: 768px) {
    .container-fluid {
        /* display: flex; */
        justify-content: space-between;
        align-items: center;
    }
    #logo-container {
        text-align: left;
    }

    .header-text {
        text-align: start;
    }

    .social-icons {
        margin-top: 0;
    }

    .contact-info {
        text-align: left;
        margin-top: 0;
    }
}
